.header {
	grid-area: h;
	background-color: blueviolet;
	padding-left: 20px;
}
.header img {
	width: 50px;
	height: 40px;
}

.loginBlock {
	padding-left: 800px;
}
.loginBlock a{
	color: white;
	text-decoration: none;
}
